#spriteDiv {
    position: relative;
    overflow: hidden;
    width: 250px;
    height: 250px;
}

.spriteImg {
    top: -85px;
    position: absolute;
    height: 325%;
}

#paperImg {
    left: -82px;
}

#rockImg {
    left: -354px;
}

#scissorImg {
    left: -628px;
}

#lizardImg {
    left: -900px;
}

#spockImg {
    left: -1173px;
}

.spriteTag {
    background-color: #476a70;
    width: 250px;
    height: 50px;
    color: white;
}

.detailBox {
    width: 100%;
    border: 1px solid #bbb;
    margin: 50px;
}

.titleBox {
    background-color: #fdfdfd;
    padding: 10px;
}

.titleBox label {
    color: #444;
    margin: 0;
    display: inline-block;
}

.commentBox {
    padding: 10px;
    border-top: 1px dotted #bbb;
}

.commentBox .form-group:first-child,
.actionBox .form-group:first-child {
    width: 80%;
}

.commentBox .form-group:nth-child(2),
.actionBox .form-group:nth-child(2) {
    width: 18%;
}

.actionBox .form-group * {
    width: 100%;
}

.taskDescription {
    margin-top: 10px 0;
}

.commentList {
    height: 200px;
    padding: 15px;
    list-style: none;
    max-height: 200px;
    overflow: auto;
}

.commentList li {
    margin: 0;
    margin-top: 10px;
}

.commentList li>div {
    display: table-cell;
}

.commentText p {
    margin: 0;
}

.actionBox {
    border-top: 1px dotted #bbb;
    padding: 10px;
}